<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/public/styles.css" rel="stylesheet" />

    <!-- Fontawesome CDN -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Property</title>
  </head>
  <body class="bg-light">
    <header class="bg-light border-bottom border-1">
      <div class="container">
        <div class="row g-0" style="height: 80px">
          <div class="col d-flex align-items-center">
            <div class="row">
              <div class="col">
                <a href="/landing" class="text-decoration-none"
                  ><i class="fas fa-igloo fs-2 text-danger"></i
                ></a>
              </div>
              <div class="col ps-0 pt-1">
                <a href="/landing" class="text-decoration-none">
                  <span class="text-danger fw-bold fs-5">waterbnb</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <a
              href="/landing"
              class="
                btn btn-light
                rounded-pill
                border border-1
                shadow-sm
                d-flex
                justify-content-between
                align-items-center
                pe-2
              "
              style="width: 300px; height: 48px"
            >
              <div class="small fw-bold ps-3">Start your search</div>
              <div
                class="
                  rounded-circle
                  bg-danger
                  d-flex
                  align-items-center
                  justify-content-center
                "
                style="width: 32px; height: 32px"
              >
                <i class="fas fa-search text-light small"></i>
              </div>
            </a>
          </div>
          <div class="col d-flex align-items-center justify-content-end">
            <div class="row">
              <div class="col">
                <!-- Localization Start -->
                <!-- Button trigger modal -->
                <button
                  type="button"
                  class="btn rounded-circle"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  style="width: 46px; height: 42px"
                >
                  <i class="fas fa-globe-asia"></i>
                </button>

                <!-- Modal -->
                <div
                  class="modal fade"
                  id="exampleModal"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="container p-0">
                          <div class="row">
                            <div class="col">
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <!-- Tab Start -->
                              <ul class="nav">
                                <li class="nav-item">
                                  <a
                                    class="nav-link active text-muted ps-2"
                                    aria-current="page"
                                    href="#"
                                    >Language and region</a
                                  >
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link text-muted" href="#"
                                    >Currency</a
                                  >
                                </li>
                              </ul>
                              <!-- Tab End -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-body">
                        <h2 class="h5 py-2">Suggested languages and regions</h2>
                        <ul class="nav py-2">
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                              >English<br /><span class="text-muted fw-light"
                                >United States</span
                              ></a
                            >
                          </li>
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                              >English<br /><span class="text-muted fw-light"
                                >United Kingdom</span
                              ></a
                            >
                          </li>
                        </ul>
                        <h2 class="h5 pt-5 pb-2">
                          Choose a language and region
                        </h2>
                        <ul class="nav py-2">
                          <li class="nav-item p-2">
                            <a
                              class="
                                btn btn-light
                                text-start
                                border border-1 border-dark
                                active
                              "
                              href="#"
                              role="button"
                              style="width: 11rem"
                              >English<br /><span class="text-muted fw-light"
                                >Singapore</span
                              ></a
                            >
                          </li>
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                            >
                              Azərbaycan dili<br /><span
                                class="text-muted fw-light"
                              >
                                Azərbaycan
                              </span></a
                            >
                          </li>
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                            >
                              简体中文<br /><span class="text-muted fw-light">
                                中国
                              </span></a
                            >
                          </li>
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                            >
                              한국어<br /><span class="text-muted fw-light">
                                대한민국
                              </span></a
                            >
                          </li>
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                            >
                              한국어<br /><span class="text-muted fw-light">
                                대한민국
                              </span></a
                            >
                          </li>
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                            >
                              한국어<br /><span class="text-muted fw-light">
                                대한민국
                              </span></a
                            >
                          </li>
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                            >
                              한국어<br /><span class="text-muted fw-light">
                                대한민국
                              </span></a
                            >
                          </li>
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                            >
                              한국어<br /><span class="text-muted fw-light">
                                대한민국
                              </span></a
                            >
                          </li>
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                            >
                              한국어<br /><span class="text-muted fw-light">
                                대한민국
                              </span></a
                            >
                          </li>
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                            >
                              한국어<br /><span class="text-muted fw-light">
                                대한민국
                              </span></a
                            >
                          </li>
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                            >
                              한국어<br /><span class="text-muted fw-light">
                                대한민국
                              </span></a
                            >
                          </li>
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                            >
                              한국어<br /><span class="text-muted fw-light">
                                대한민국
                              </span></a
                            >
                          </li>
                          <li class="nav-item p-2">
                            <a
                              class="btn btn-light text-start"
                              href="#"
                              role="button"
                              style="width: 11rem"
                            >
                              한국어<br /><span class="text-muted fw-light">
                                대한민국
                              </span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Localization End -->
              </div>
              <div class="col g-0">
                <!-- Dropdown Start -->
                <div class="dropdown">
                  <button
                    class="btn btn-light rounded-pill border border-1"
                    type="button"
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    data-bs-offset="5,15"
                    aria-expanded="false"
                    style="width: 77px; height: 42px; padding: 5px 5px 5px 12px"
                  >
                    <div
                      class="d-flex align-items-center justify-content-between"
                    >
                      <i class="fas fa-bars fs-6"></i>
                      <i class="fas fa-user-circle fs-3 text-secondary"></i>
                    </div>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-end p-2 rounded-3"
                    aria-labelledby="dropdownMenuButton1"
                  >
                    <li>
                      <!-- Start Signup -->
                      <a class="dropdown-item" href="/sign-up">Sign up</a>

                      <!-- End Signup -->
                    </li>
                    <li><a class="dropdown-item" href="#">Log in</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" href="#">Host your home</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Host an experience</a>
                    </li>
                    <li><a class="dropdown-item" href="#">Help</a></li>
                  </ul>
                </div>
                <!-- Dropdown End -->
              </div>
            </div>
          </div>
        </div>
        <!-- Search Bar Start -->

        <!-- Search Bar End -->
      </div>
    </header>

    <section class="min-vh-100">
      <div class="container">
        <div class="row">
          <div
            class="col d-flex flex-column justify-content-center"
            style="height: 5rem"
          >
            <h1 class="h3"><%= resultsArray[0].name %></h1>
            <span class="text-muted small text-decoration-underline"
              ><%= resultsArray[0].country %></span
            >
          </div>
        </div>
        <div class="row g-3" style="height: 24rem">
          <div class="col-6 py-2 h-100">
            <canvas
              class="bg-info rounded-3"
              style="width: 100%; height: 100%"
            ></canvas>
          </div>
          <div class="col-3 py-2 h-100">
            <div class="row d-flex flex-column h-100">
              <div class="col h-50 pb-3">
                <canvas
                  class="bg-danger rounded-3"
                  style="width: 100%; height: 100%"
                ></canvas>
              </div>
              <div class="col h-50">
                <canvas
                  class="bg-warning rounded-3"
                  style="width: 100%; height: 100%"
                ></canvas>
              </div>
            </div>
          </div>
          <div class="col-3 py-2 h-100">
            <div class="row d-flex flex-column h-100 rounded-end">
              <div class="col h-50 pb-3">
                <canvas
                  class="bg-primary rounded-3"
                  style="width: 100%; height: 100%"
                ></canvas>
              </div>
              <div class="col h-50">
                <canvas
                  class="bg-success rounded-3"
                  style="width: 100%; height: 100%"
                ></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-8">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex flex-column">
                <h2 class="h4 mt-4">Lorem ipsum dolor sit amet consectetur</h2>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <%= resultsArray[0].capacity %> guests
                  </li>
                  <li class="list-inline-item">· 1 bedroom</li>
                  <li class="list-inline-item">· 1 bathroom</li>
                </ul>
              </div>
              <div
                class="bg-secondary rounded-circle"
                style="width: 56px; height: 56px"
              ></div>
            </div>
            <hr class="mt-2" />
            <h2 class="h5 pt-4 pb-2">What this place offers</h2>
            <div class="row g-3">
              <div class="col-6">
                <i class="fas fa-utensils"></i><span class="ps-4">Kitchen</span>
              </div>
              <div class="col-6">
                <i class="fas fa-wifi"></i><span class="ps-4">Wifi</span>
              </div>
              <div class="col-6">
                <i class="fas fa-car"></i><span class="ps-4">Free parking</span>
              </div>
              <div class="col-6">
                <i class="fas fa-swimming-pool"></i
                ><span class="ps-4">Pool</span>
              </div>
              <div class="col-6">
                <i class="fas fa-tv"></i><span class="ps-4">TV</span>
              </div>
              <div class="col-6">
                <i class="fas fa-dumbbell"></i><span class="ps-4">Gym</span>
              </div>
              <div class="col-6">
                <i class="fas fa-fire-extinguisher"></i
                ><span class="ps-4">Fire extinguisher</span>
              </div>
              <div class="col-6">
                <i class="far fa-snowflake"></i>
                <span class="ps-4">Air conditioning</span>
              </div>
            </div>
            <hr class="my-5" />
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Obcaecati asperiores tempore rem distinctio cumque voluptatum modi
              consequuntur ipsam quas ex. Omnis soluta repellat, porro quasi
              provident hic tempora iste obcaecati quam, minus suscipit. Libero
              ab sit soluta cumque tenetur odit quis a? Esse iste voluptates
              praesentium voluptatibus enim, expedita consequatur. Delectus
              maiores, alias iste deserunt nisi nostrum libero beatae eligendi
              vitae architecto, ea amet.
            </p>
            <hr class="mt-5 mb-5" />
          </div>
          <div class="col-4 mt-4 mb-3">
            <div
              class="h-75 border border-1 shadow p-4"
              style="border-radius: 5%"
            >
              <form action="/property/:id" method="post">
                <span class="h5">$<%= resultsArray[0].price %></span
                ><span class="text-muted"> / night</span>
                <div class="mt-4 border border-1 rounded-3">
                  <div class="row">
                    <div class="col-6 pe-0">
                      <div class="form-floating border-end">
                        <input
                          class="form-control border-0"
                          type="date"
                          value="<%= checkIn %>"
                          name="stayStart"
                          placeholder="check-in date"
                        />
                        <label for="checkIn" class="small">CHECK-IN</label>
                      </div>
                    </div>
                    <div class="col-6 ps-0">
                      <div class="form-floating">
                        <input
                          class="form-control border-0"
                          type="date"
                          value="<%= checkOut %>"
                          name="stayEnd"
                          placeholder="check-out date"
                        />
                        <label for="checkOut" class="small">CHECK-OUT</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating border-top">
                        <input
                          class="form-control border-0"
                          type="number"
                          value="<%= adults %>"
                          name="occupancy"
                          placeholder="guest count"
                        />
                        <label for="guests" class="small">GUESTS</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-grid my-3">
                  <button type="submit" class="btn btn-danger p-3">
                    Reserve
                  </button>
                </div>
                <div class="d-flex justify-content-center">
                  <span class="text-center small text-muted"
                    >You won't be charged yet</span
                  >
                </div>
                <div class="row g-2 my-2">
                  <div class="col-6">
                    <span class="text-decoration-underline">Cleaning fee</span>
                  </div>
                  <div class="col-6 d-flex justify-content-end">
                    <span class="">$50</span>
                  </div>
                  <div class="col-6">
                    <span class="text-decoration-underline">Service fee</span>
                  </div>
                  <div class="col-6 d-flex justify-content-end">
                    <span class="">$117</span>
                  </div>
                  <div class="col-6">
                    <span class="text-decoration-underline">Taxes</span>
                  </div>
                  <div class="col-6 d-flex justify-content-end">
                    <span class="">$56</span>
                  </div>
                  <hr class="my-3" />
                </div>
                <input
                  type="hidden"
                  name="price"
                  value="<%= resultsArray[0].price %>"
                />
                <input type="hidden" name="guestId" value="1" />
                <input
                  type="hidden"
                  name="lodgingId"
                  value="<%= resultsArray[0].id %>"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer Start -->
    <footer class="" style="height: 50vh; background-color: gainsboro">
      <div class="container h-100">
        <div class="row" style="height: 75%">
          <div class="col" style="height: 100%">
            <div class="pt-5">
              <div class="ps-2">
                <h3 class="small fw-bold fs-6">Support</h3>
              </div>
              <ul class="list-unstyled ps-2">
                <li class="mb-2 mt-3">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Help Centre</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Safety information</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Cancellation options</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Our COVID-19 Response</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Supporting people with disabilities</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Report a neighbourhood concern</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col" style="height: 100%">
            <div class="pt-5">
              <div class="ps-2">
                <h3 class="small fw-bold fs-6">Community</h3>
              </div>
              <ul class="list-unstyled ps-2">
                <li class="mb-2 mt-3">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Waterbnb.org: disaster relief housing</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Support Afghan refugees</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Celebrating diversity & belonging</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Combating discrimination</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col" style="height: 100%">
            <div class="pt-5">
              <div class="ps-2">
                <h3 class="small fw-bold fs-6">Hosting</h3>
              </div>
              <ul class="list-unstyled ps-2">
                <li class="mb-2 mt-3">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Try hosting</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >WaterCover: protection for Hosts</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Explore hosting resources</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Visit our community forum</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >How to host responsibly</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col" style="height: 100%">
            <div class="pt-5">
              <div class="ps-2">
                <h3 class="small fw-bold fs-6">About</h3>
              </div>

              <ul class="list-unstyled ps-2">
                <li class="mb-2 mt-3">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Newsroom</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Learn about new features</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Letter from our founder</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Careers</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Investors</a
                  >
                </li>
                <li class="my-2">
                  <a href="#" class="link-dark text-decoration-none small"
                    >Waterbnb Luxe</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="d-flex justify-content-between align-items-center">
            <div class="pt-3">
              <ul class="list-inline small">
                <li class="list-inline-item">© 2021 Waterbnb, Pte.</li>
                <li class="list-inline-item text-center">·</li>
                <li class="list-inline-item">
                  <a href="#" class="link-dark text-decoration-none">Privacy</a>
                </li>
                <li class="list-inline-item text-center">·</li>
                <li class="list-inline-item">
                  <a href="#" class="link-dark text-decoration-none">Terms</a>
                </li>
                <li class="list-inline-item text-center">·</li>
                <li class="list-inline-item">
                  <a href="#" class="link-dark text-decoration-none">Sitemap</a>
                </li>
              </ul>
            </div>
            <div class="">
              <a href="#" class="text-dark px-3"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="#" class="text-dark px-3"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="#" class="text-dark ps-3"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer End -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
